* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper-sign-up {
  display: grid;
  position: relative;
  grid-template-columns: 250px 2fr;
  max-width: 1440px;
  margin: 12rem 35rem;
  z-index: 10;
}

.sign-up-form {
  color: rgb(25, 119, 88);
}

.sign-up-form input {
  background-color: rgb(222, 235, 231);
  margin: 5px;
}

.sign-up-form button {
  color: rgb(25, 119, 88);
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px;
}
